*{
    box-sizing: border-box;
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
    border-bottom: 2px solid #000;
    width: 90%;
    min-width: 320px;
}

.list{
    display: flex;
    align-items: center;
}

.link{
    margin: 10px;
    color: #000;
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 5px;
    transition: 0.4s;
}

.link:hover{
    background-color: #000;
    color: #fff;
}

.logo{
    margin-bottom: 10px;
}

.btn{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    transition: 0.4s;
    border-radius: 20px;
    font-size: 1rem;
    width: 90px;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

@media (max-width:320px){

    .nav{
        font-size: 1rem;
        padding: 0;
    }

    .logo{
        margin-left: 10px;
    }

    .btn{
      display: none;
    }

    .link{
        padding: 10px;
        margin: 5px;
    }
}

@media (max-width:720px){
    
}
