.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.text{
    text-align: center;
    width: 90%;
}

.text h2{
    margin: 10px;
    font-size: 2.5rem;
}

.text p{
    font-size: 1.8rem;
}

.products{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;

    
}

.destaque{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 5px;    
    margin: 10px 0;
 }

 .green{
    background-color: rgb(204, 255, 146); 
 }



